@charset "UTF-8";
* {
	margin: 0;
	padding: 0;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'D2Coding';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

body {
	width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: #EDEDED;
    font-family: 'GmarketSansMedium', sans-serif;
}

/* 영문 텍스트에 Gibstone 폰트 적용 */
:lang(en) {
    font-family: 'Gibstone Trial Regular', sans-serif;
}
/* 한글 텍스트에 GmarketSans 폰트 적용 */
:lang(ko) {
    font-family: 'GmarketSansMedium', sans-serif;
}


a {color: #fff; text-decoration: none; outline: none} 
a:hover, a:active {text-decoration: none; color:#fff; }




ul , li {
	margin: 0;
	padding: 0;
	list-style: none;
	color: black;
}

#main_content {
	width: 100%; 
  	height: auto;
  	min-height: 100%;
}


#main_footer {
	width: 100%;
	height: 300px;
	background-color: #383637;
	position: relative;
}