@charset "UTF-8";
* {
	margin: 0;
	padding: 0;
}

/* @font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gibstone Trial Medium';
    font-style: normal;
<<<<<<< HEAD
} */
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
=======
    font-weight: normal;
    src: local('Gibstone Trial Medium'), url('GibstoneTrial-Medium.woff') format('woff');
>>>>>>> d6f0bbc3b580a40a9a60c1808b406a2708bce94a
}
    @font-face {
    font-family: 'Gibstone Trial Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Gibstone Trial Regular'), url('GibstoneTrial-Regular.woff') format('woff');
    }

    @font-face {
    font-family: 'Gibstone Trial Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Gibstone Trial Medium'), url('GibstoneTrial-Medium.woff') format('woff');
    }


    @font-face {
    font-family: 'Gibstone Trial Semi Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Gibstone Trial Semi Bold'), url('GibstoneTrial-SemiBold.woff') format('woff');
    }


    @font-face {
    font-family: 'Gibstone Trial Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Gibstone Trial Bold'), url('GibstoneTrial-Bold.woff') format('woff');
    }


body {
	width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: #EDEDED;
<<<<<<< HEAD

}

a { text-decoration: none; outline: none} 
=======
    font-family: 'Gibstone Trial Medium', sans-serif;
}


a {color: #fff; text-decoration: none; outline: none} 
>>>>>>> d6f0bbc3b580a40a9a60c1808b406a2708bce94a
a:hover, a:active {text-decoration: none; color:#fff; }




ul , li {
	margin: 0;
	padding: 0;
	list-style: none;
	color: black;
}

#main_content {
	width: 100%; 
  	height: auto;
  	min-height: 100%;
}


#main_footer {
	width: 100%;
	height: 300px;
	background-color: #383637;
	position: relative;
}