<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
"-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="clientSales">
   <!-- 등록된 상품 개수 -->
    <select id="getSalesCount">
      select count(*) from Sales 
    </select>
	<select id="getSaless" resultType="com.sqlrecord.dto.Sales">
		select * from Sales
	</select>
	<select id="getSales" parameterType="int" resultType="com.sqlrecord.dto.Sales">
		select * from Sales where sno = #{sno}
	</select>
	
	
	<delete id="delSales" parameterType="int">
		delete from Sales where pno=#{pno}
	</delete> 




</mapper>